.form1 {
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
  padding: 15%;
  height: 100vh;
  width: 100vw;
  margin: auto;
  text-align: center;
  color: #e9ecef;
  
}

.btn1 {
  background-color: #00b894;
  color: #e9ecef;
  font-size: 1em;
  cursor: pointer;
  padding: 15px;
  border-radius: 5px;
  box-shadow: #e9ecef;
  border: none;
  width: 100px;
}

.btn2 {
  background-color: #0984e3;
  color: #e9ecef;
  font-size: 1em;
  cursor: pointer;
  padding: 15px;
  border-radius: 5px;
  border: none;
  width: 100px;
}


